/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--accent-color);
  font-family: var(--font-family-default), sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: var(--background-color);
  background-image: var(--background-image-gradient);
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-text);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto 100px;
  border: 2px solid var(--accent-color);
  font-family: var(--font-family-accent), sans-serif;
  background-color: var(--background-color);
}

.horizontally-centered {
  inline-size: clamp(375px, 50%, 700px);
}

.header__title {
  margin-block-start: clamp(120px, 32%, 136px);
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__description {
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-block-end: 25px;
}

.theme-menu__item {
  font-size: 14px;
}

.theme-menu__button {
  position: relative;
  margin-inline-start: 18px;
  border: none;
  padding: 0;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: arrow-translation 0.5s infinite alternate-reverse ease-in-out;
  inset-inline-start: -20px;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  transition: scale 0.3s ease;
  transform-origin: left;
  inset-inline-start: 0;
  inset-block-end: -2px;
  scale: 0 1;
}

.theme-menu__button:focus-visible:after {
  scale: 1 1;
}

.content__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: auto;
}

.card {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.card__title {
  border-bottom: 2px solid var(--accent-color);
  padding: 4px 24px 5px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-header);
}

.card__image-wrapper {
  position: relative;
}

.card__image {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
}

.card__image-label {
  position: absolute;
  opacity: 0.5;
  color: var(--card-image-label-color);
  font-family: var(--font-family-accent);
  font-size: 14px;

  text-shadow: -1px 0 var(--card-image-label-shadow-color),
    0 1px var(--card-image-label-shadow-color),
    1px 0 var(--card-image-label-shadow-color),
    0 -1px var(--card-image-label-shadow-color);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  border-top: 2px solid var(--accent-color);
  padding: 25px;
  line-height: 1.16667;
}

.card__buttons-content {
  display: flex;
  justify-content: right;
  gap: 6px;
  margin: auto 25px 25px auto;
}

.card__icon-button {
  position: relative;
  width: 40px;
  height: 38px;
  border: 2px solid var(--border-animation-hidden-color);
  padding: 0;
  background-color: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--border-animation-color);
}

.like-icon {
  position: relative;
  inset-inline-start: -1px;
  inset-block-start: 1px;
}

.like-icon .contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: #ff0000;
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: #ff0000;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: #ff0000;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: #ff0000;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: #ff0000;
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-activate 0.3s ease-in 0.1s alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s alternate;
}

.card__like-button {
  position: relative;
  margin: 0;
  border: 2px solid var(--accent-color);
  padding: 6px 35px;
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button__text {
  font-family: var(--font-family-accent), sans-serif;
  font-size: 14px;
  line-height: 0.9;
}

.filter-grayscale {
  filter: grayscale(70%);
}

.filter-saturate {
  filter: saturate(3.5);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.filter-invert {
  filter: invert(75%);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-blur {
  filter: blur(20px);
  clip-path: inset(0);
}

.filter-blure-hue-rotate {
  filter: hue-rotate(90deg) blur(2px) contrast(50%);
  clip-path: inset(0);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 105px;
}

.floppy-button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--accent-color);
  padding: 15px 21px 15px 19px;
  background-color: var(--background-color);
  cursor: pointer;
}

.theme-menu__button:focus,
.floppy-button:focus,
.card__like-button:focus,
.card__icon-button:focus {
  outline: none;
}

.floppy-button:focus-visible,
.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

.floppy-button::after,
.card__like-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--button-mix-color);
  transition: scale 0.5s ease-in-out;
  transform-origin: left;
  inset-inline-start: 0;
  inset-block-start: 0;
  scale: 0 1;
  mix-blend-mode: difference;
}

.floppy-button:hover::after,
.card__like-button:hover::after {
  scale: 1 1;
}

.dialog-save {
  border: 2px solid var(--accent-color);
  padding: 0;
  color: var(--accent-color);
  background-color: var(--background-color);
  inline-size: clamp(341px, 90%, 357px);
  min-inline-size: 341px;
}

.dialog-save[open] .dialog__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 32px auto 32px;
  inline-size: clamp(257px, 60vw, 293px);
}

.dialog-save[open] .dialog__content-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__content .floppy-image {
  min-inline-size: 39px;
  min-block-size: 39px;
}

.dialog__content-text {
  font-family: var(--font-family-accent), sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__content-button {
  border: 2px solid var(--accent-color);
  padding: 10px 15px;
  font-family: var(--font-family-accent), sans-serif;
  font-size: 14px;
  line-height: 0.9;
  text-transform: uppercase;
  background-color: var(--background-color);
}

.dialog__content-button:focus {
  outline: none;
}

.dialog__content-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

.dialog-save::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width <= 375px) {
  .floppy-button {
    flex-direction: column;
  }

  .floppy-image {
    width: 28px;
    height: 28px;
  }

  .card__image-label {
    inset-inline-end: 11px;
    inset-block-start: 22px;
  }
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--card-image-label-shadow-color);
    text-stroke: 1px var(--card-image-label-shadow-color);
  }
}
